body{
    
}
.theme-header-row{
    display: flex;
    
}
.theme-row{
    margin-left: 185px;
    margin-right: 185px;
    
}
.theme-secondary-header{
    background-color: #edffff;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
    flex-grow: 1;
}
.theme-alignright{
    
    float: right;
    margin-left: 0px;
    flex-grow: 1;
}